<div >
  <form (ngSubmit)="handleSubmit()"
        [formGroup]="form"
  >
    <div class="form-row">
      <byp-form-item *ngFor="let item of formItems" [form]="form" [formItem]="item"></byp-form-item>
    </div >
    <div class="form-row">
      <button nz-button
              nzType="primary"
              type="submit"
              [disabled]="!form.valid"
      >保存
      </button >
    </div >
  </form >

  <div class="form-row"
       *ngIf="payload"
  >
    <strong >Saved the following values</strong ><br >{{payload}}
  </div >
</div >
