<div [formGroup]="form">
  <label [attr.for]="formItem.key">
    {{formItem.label}}
    <ng-container [ngSwitch]="formItem.controlType">
      <input *ngSwitchCase="'input'"
             nz-input
             [formControlName]="formItem.key"
             [id]="formItem.key"
             [type]="formItem.type"
      >
      <label *ngSwitchCase="'checkbox'"
             nz-checkbox
             [formControlName]="formItem.key"
             [id]="formItem.key"
             [ngModel]="formItem.value"
      ></label>
      <nz-select [id]="formItem.key"
                 *ngSwitchCase="'select'"
                 [formControlName]="formItem.key"
      >
        <nz-option *ngFor="let item of formItem.options"
                   [nzValue]="item.value"
                   [nzLabel]="item.key"
        >{{item.value}}</nz-option >
      </nz-select >
    </ng-container >
  </label >
  <span class="error-message"
        *ngIf="!isValid"
  >{{formItem.label}} is required!</span >
</div >
