@import "variables";

.through-to-bottom(@side) {
  border-@{side}: 1px solid #eee;
  height: calc(100vh - (@nav-height + @toolbar-height));
}

:host {
  display: block;
  .center-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .editor-container {
    min-width: 360px;
    .through-to-bottom(left);
  }

  .material-container {
    max-width: 310px;
    .through-to-bottom(right);
  }
}
