<seibertron-toolbar></seibertron-toolbar>
<div class="binary-section">
  <seibertron-collapse>
    <seibertron-widget-material></seibertron-widget-material>
    <div>Tree works!</div>
  </seibertron-collapse>
  <seibertron-collapse class="canvas">
    <div>state works!</div>
    <seibertron-preview-canvas></seibertron-preview-canvas>
  </seibertron-collapse>
  <seibertron-collapse>
    <seibertron-style-editor></seibertron-style-editor>
    <seibertron-state-editor></seibertron-state-editor>
    <seibertron-action-editor></seibertron-action-editor>
    <seibertron-http-interface-editor></seibertron-http-interface-editor>
  </seibertron-collapse>
</div>
