<seibertron-toolbar [(schema)]="currentPageSchema"></seibertron-toolbar>
<div class="binary-section">
  <section class="material-container">
    <seibertron-collapse>
      <seibertron-widget-material></seibertron-widget-material>
      <div>Tree works!</div>
    </seibertron-collapse>
  </section>
  <section class="center-container">
    <seibertron-state-bar></seibertron-state-bar>
    <seibertron-preview-canvas></seibertron-preview-canvas>
  </section>
  <section class="editor-container">
    <seibertron-collapse placement="left">
      <seibertron-style-editor></seibertron-style-editor>
      <seibertron-state-editor></seibertron-state-editor>
      <seibertron-action-editor></seibertron-action-editor>
      <seibertron-http-interface-editor></seibertron-http-interface-editor>
    </seibertron-collapse>
  </section>
</div>
