<ng-container *ngIf="data" [ngSwitch]="data.type">
  <ng-container *ngSwitchCase="'container'">
    <seibertron-tree-widget
      *ngFor="let item of data?.children; trackBy: trackByItems"
      [data]="item"
      [parent]="data"
      [props]="schema?.props"
    ></seibertron-tree-widget>
  </ng-container>
  <ng-container *ngSwitchCase="'text'">
    <p *ngIf="styles['font-size'] <= 16; else fontSize" [ngStyle]="styles">
      {{ output('text') }}
    </p>
  </ng-container>
  <a
    *ngSwitchCase="'link'"
    [href]="output('url')"
    [target]="output('target')"
    [ngStyle]="styles"
    [title]="output('title')"
  >
    {{ output('title') }}
  </a>
  <img
    *ngSwitchCase="'image'"
    [src]="output('src')"
    alt="暂无图片"
    [ngStyle]="styles"
  />
  <seibertron-list-widget *ngSwitchCase="'list'" [data]="data" [props]="schema?.props"></seibertron-list-widget>
</ng-container>

<ng-template #fontSize>
  <h3 [ngStyle]="styles">{{ output('text') }}</h3>
</ng-template>
