<ng-container *ngIf="data" [ngSwitch]="data.type">
  <ng-container *ngSwitchCase="'container'">
    <seibertron-tree-widget
      *ngFor="let item of data?.children; trackBy: trackByItems"
      [data]="item"
      [parent]="data"
    ></seibertron-tree-widget>
  </ng-container>
  <ng-container *ngSwitchCase="'text'">
    <p *ngIf="styles['font-size'] <= 16; else fontSize" [ngStyle]="styles">
      {{ data?.schema?.dataMapping.type }}
    </p>
  </ng-container>
  <a
    *ngSwitchCase="'link'"
    [href]="data?.schema?.dataMapping?.data?.url"
    [target]="data?.schema?.dataMapping?.data?.target"
    [ngStyle]="styles"
    [title]="data.schema?.dataMapping?.data?.title"
  >
    {{ data.schema?.dataMapping?.data?.title }}
  </a>
  <img
    *ngSwitchCase="'image'"
    [src]="data?.schema?.dataMapping?.data?.src"
    alt="暂无图片"
    [ngStyle]="styles"
  />
</ng-container>

<ng-template #fontSize>
  <h3 [ngStyle]="styles">{{ data?.schema?.dataMapping.data }}</h3>
</ng-template>
