<ng-container *ngIf="data"
              [ngSwitch]="data.type"
>
  <ng-container *ngSwitchCase="'container'">
    <byp-tree-widget *ngFor="let item of data?.children"
                     [data]="item"
                     [parent]="data"
    ></byp-tree-widget >
  </ng-container>
  <ng-container *ngSwitchCase="'text'">
    <p *ngIf="styles(data)['font-size'] <= 16 else fontSize"
       [ngStyle]="styles(data)"
    >{{ data?.schema?.dataMapping.type }}</p >
  </ng-container>
  <byp-link-widget *ngSwitchCase="'link'" [schema]="data.schema" [parentSchema]="parent?.schema"
  ></byp-link-widget >
  <byp-image-widget *ngSwitchCase="'image'" [schema]="data.schema" [parentSchema]="parent?.schema"
  ></byp-image-widget >
</ng-container >

<ng-template #fontSize>
  <h3 [ngStyle]="styles(data)">{{ data?.schema?.dataMapping.data }}</h3 >
</ng-template >
