<ng-container *ngIf="data" [ngSwitch]="data.type">
  <ng-container *ngSwitchCase="'container'">
      <seibertron-tree-widget *ngFor="let item of data?.children; trackBy: trackByItems"
        [data]="item"
        [parent]="data"
        [props]="props"
        [listItemOption]="listItemOption"
        [componentSchema]="componentSchema"
        [componentStates]="componentStates"
      ></seibertron-tree-widget>
  </ng-container>
  <ng-container *ngSwitchCase="'text'">
    <p [ngStyle]="styles" (click)="this.handleClickEvent()">
      {{ output('text') }}
    </p>
  </ng-container>
  <a
    *ngSwitchCase="'link'"
    [href]="output('url')"
    [target]="output('target')"
    [ngStyle]="styles"
    [title]="output('title')"
  >
    {{ output('title') }}
  </a>
  <img
    *ngSwitchCase="'image'"
    [src]="output('src')"
    alt="暂无图片"
    [ngStyle]="styles"
  />
  <seibertron-list-widget *ngSwitchCase="'list'"
                          [data]="data"
                          [props]="props"
                          [componentSchema]="componentSchema"
                          [componentStates]="componentStates"
                          [ngStyle]="styles"></seibertron-list-widget>
</ng-container>
