<div class="binary-section">
  <ul id="material-list" class="material-list">
    <li
      class="list-item"
      *ngFor="let item of list"
    >
      <button
        class="widget-material-btn"
        nz-button
        nzType="primary"
        nzGhost
        seibertronDraggable
        dragMode="copy"
        [dragData]="item"
      >
        <i
          nz-icon
          [nzType]="item.icon"
          nzTheme="outline"
        ></i>
        {{item.title}}</button>
    </li>
  </ul>
</div>
