@import "variables";

.binary-section {
  display: flex;
  align-items: flex-start;
}

.ml20 {
  margin-left: 20px;
}

.main-container() {
  padding: 0 40px;
  background-color: #eee;
  height: calc(100vh - @nav-height);
}
