@import "variables";

.binary-section {
  display: flex;
}

.ml20 {
  margin-left: 20px;
}

.no-border {
  border: none;
}

.pointer {
  cursor: pointer;
}

.p10 {
  padding: 10px;
}

.widget-selected {
  border: 2px dashed #396fff !important;
  background-color: rgb(167, 190, 250) !important;
}

.widget-empty {
  position: relative;
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "此处可拖入控件";
    transform: translate(-50%, -50%);
  }
}

.main-container() {
  display: block;
  padding: 0 40px;
  background-color: #eee;
  height: calc(100vh - @nav-height);
}

.gray-border() {
  border: 1px solid #eee;
}

.footer(@side) {
  position: absolute;
  bottom: 0;
  @{side}: 0;
}
