<div class="flow binary-section">
  <div class="palette-area">
    <ejs-symbolpalette [palettes]="palettes"
                       [symbolHeight]="symbolSize?.height || 60"
                       [symbolWidth]="symbolSize?.width || 60"
                       [symbolMargin]="symbolMargin"
                       [getSymbolInfo]="getSymbolInfo"
                       [getNodeDefaults]='getSymbolDefaults'
    ></ejs-symbolpalette >
  </div >
  <div class="diagram-area">
    <ejs-diagram [height]="diagramSize.height"
                 [width]="diagramSize.width"
                 [rulerSettings]="rulerSettings"
    ></ejs-diagram >
  </div >
  <div class="edit-area">
    编辑区
  </div>
</div >
