<ul >
  <li >
    <button
      class="command-button"
      *ngFor="let item of commands"
      nz-button
      nzType="default"
      (click)="item.handler($event, item.type)"
    >
      {{item.name}}
    </button >
  </li >
</ul >
<nz-modal [nzVisible]="visible"
          nzMaskClosable
          (nzOnCancel)="hideModal()"
          (nzOnOk)="hideModal()"
          [nzFooter]="null"
>
  <section class="form-container">
<!--    <byp-form [formItems]="formItems" (save)="handleSaveFormData($event)"></byp-form >-->
  </section >
</nz-modal >

