<ul >
  <li >
    <button
      class="command-button"
      *ngFor="let item of commands"
      nz-button
      nzType="default"
      (click)="item.handler($event, item.type)"
    >
      {{item.name}}
    </button >
  </li >
</ul >
<nz-modal [nzVisible]="visible"
          nzMaskClosable
          (nzOnCancel)="hideModal()"
          (nzOnOk)="hideModal()"
          [nzFooter]="null"
>
  <section class="form-container">
    <form nz-form (ngSubmit)="onSubmit()">
      <ng-container *ngFor="let group of formGroups">
        <h3 class="form-group-name">{{group.name}}</h3>
        <nz-form-item *ngFor="let item of group.items">
          <nz-form-label [nzSpan]="5">{{item.label}}</nz-form-label>
          <nz-form-control
            nzValidateStatus="error"
            [nzSpan]="12"
            nzErrorTip="测试错误提示"
            [ngSwitch]="item.controlType"
          >
            <input *ngSwitchCase="'number'" nz-input [name]="item.name" [ngModel]="item.value" type="number"/>
            <input *ngSwitchCase="'text'" nz-input [name]="item.name" [ngModel]="item.value" type="text"/>
            <nz-select *ngSwitchCase="'select'" [name]="item.name" [ngModel]="item.value">
              <nz-option
                *ngFor="let opt of item.selectOptions"
                [nzValue]="opt.value"
                [nzLabel]="opt.name"
              ></nz-option>
            </nz-select>
            <label *ngSwitchCase="'checkbox'" nz-checkbox [name]="item.name"
                   [(ngModel)]="item.value">{{item.label}}</label>
            <nz-radio-group *ngSwitchCase="'radio'" [name]="item.name" [(ngModel)]="item.value">
              <label
                *ngFor="let opt of item.selectOptions"
                nz-radio
                [nzValue]="opt.value"
              >
                {{opt.name}}
              </label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </ng-container>
    </form>
  </section >
</nz-modal >

