<div class="container"
     cdkDropListGroup
     [ngStyle]="style"
>
<!--     (contextmenu)="handleContextMenu($event, menu)"-->
<!--&gt;-->
  <ng-content ></ng-content >
</div >
<!--<nz-dropdown-menu #menu="nzDropdownMenu">-->
<!--  <ul nz-menu>-->
<!--    <li nz-submenu-->
<!--        nzTitle="插入动态UI"-->
<!--    >-->
<!--      <ul >-->
<!--        <li class="menu-item"-->
<!--            nz-menu-item-->
<!--            (click)="handleClickMenu(this.contextMenuEnum.dataDriven)"-->
<!--        >插入数据驱动型UI<span >（快捷键：Ctrl/Command + D）</span ></li >-->
<!--        <li class="menu-item"-->
<!--            nz-menu-item-->
<!--            (click)="handleClickMenu(this.contextMenuEnum.logicDriven)"-->
<!--        >插入逻辑驱动型UI<span >（快捷键：Ctrl/Command + L）</span >-->
<!--        </li >-->
<!--      </ul >-->
<!--    </li >-->
<!--    <li nz-submenu-->
<!--        nzTitle="插入静态UI"-->
<!--    >-->
<!--      <ul >-->
<!--        <li class="menu-item"-->
<!--            nz-menu-item-->
<!--            (click)="handleClickMenu(this.contextMenuEnum.text)"-->
<!--        >插入文本<span >（快捷键：Ctrl/Command + T）</span >-->
<!--        </li >-->
<!--        <li class="menu-item"-->
<!--            nz-menu-item-->
<!--            (click)="handleClickMenu(this.contextMenuEnum.image)"-->
<!--        >插入图片<span >（快捷键：Ctrl/Command + I）</span >-->
<!--        </li >-->
<!--        <li class="menu-item"-->
<!--            nz-menu-item-->
<!--            (click)="handleClickMenu(this.contextMenuEnum.link)"-->
<!--        >插入链接<span >（快捷键：Ctrl/Command + L）</span >-->
<!--        </li >-->
<!--        <li class="menu-item"-->
<!--            nz-menu-item-->
<!--            (click)="handleClickMenu(this.contextMenuEnum.container)"-->
<!--        >-->
<!--          插入容器<span >（快捷键：Ctrl/Command + K）</span >-->
<!--        </li >-->
<!--      </ul >-->

<!--    </li >-->

<!--  </ul >-->
<!--</nz-dropdown-menu >-->

<!--<nz-drawer [nzHeight]="'100vh'"-->
<!--           nzClosable-->
<!--           [nzVisible]="drawerVisible"-->
<!--           [nzTitle]="drawerTitle"-->
<!--           nzPlacement="bottom"-->
<!--           (nzOnClose)="onDrawerClose()"-->
<!--&gt;-->
<!--  <div class="drawer-container" *ngIf="type === this.contextMenuEnum.dataDriven; else logicDriven">-->
<!--    <nz-steps [nzCurrent]="currentStep">-->
<!--      <nz-step nzTitle="添加数据源"-->
<!--               nzDescription="数据源可以是自己写在前端的数据，也可以通过设置API接收后端数据"-->
<!--      ></nz-step >-->
<!--      <nz-step nzTitle="添加UI"-->
<!--               nzDescription="添加UI，并且为它们链接数据和事件，这样这些UI就可以支持用户的交互了"-->
<!--      ></nz-step >-->
<!--      <nz-step nzTitle="完成"-->
<!--               nzDescription="点击提交，将UI添加到组件中"-->
<!--      ></nz-step >-->
<!--    </nz-steps >-->
<!--    <ng-container [ngSwitch]="currentStep">-->
<!--      <div class="data-source-setting" *ngSwitchCase="0">-->
<!--        <nz-radio-group [(ngModel)]="dataSourceType">-->
<!--          <label nz-radio [nzValue]="localData">本地数据</label>-->
<!--          <label nz-radio [nzValue]="apiData">后端接口</label>-->
<!--        </nz-radio-group>-->
<!--        <ng-container [ngSwitch]="dataSourceType" >-->
<!--          <section class="" *ngSwitchCase="localData">-->
<!--            <json-editor [options]="editorOptions" [data]="initialDataSource" ></json-editor>-->
<!--          </section>-->
<!--          <section *ngSwitchCase="apiData">-->
<!--            <b >后端接口设置区</b>-->
<!--          </section>-->
<!--        </ng-container>-->
<!--      </div >-->
<!--      <div *ngSwitchCase="1">第二步</div >-->
<!--      <div *ngSwitchCase="2">第三步</div >-->
<!--    </ng-container >-->

<!--    <div class="button-container">-->
<!--      <button *ngIf="currentStep !== 0"-->
<!--              class="previous-step"-->
<!--              nz-button-->
<!--              nzType="default"-->
<!--              nzSize="large"-->
<!--              (click)="goPreviousStep()"-->
<!--      >上一步-->
<!--      </button >-->
<!--      <button *ngIf="currentStep < maxStep"-->
<!--              class="next-step"-->
<!--              nz-button-->
<!--              nzType="primary"-->
<!--              nzSize="large"-->
<!--              (click)="goNextStep()"-->
<!--      >下一步-->
<!--      </button >-->
<!--      <button *ngIf="currentStep === maxStep"-->
<!--              nz-button-->
<!--              nzType="primary"-->
<!--              nzSize="large"-->
<!--              (click)="closeDrawer()"-->
<!--      >-->
<!--        完成-->
<!--      </button >-->
<!--    </div >-->
<!--  </div >-->
<!--</nz-drawer >-->

<!--<ng-template #logicDriven>-->
<!--  <div >这是个逻辑驱动型UI</div >-->
<!--</ng-template >-->
