<nz-layout>
  <nz-header>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item [nzSelected]="this.isCurrentRoute('/home')"><a routerLink="/home">首页</a></li>
      <li nz-menu-item [nzSelected]="this.isCurrentRoute('/build-up/app')"><a routerLink="app">应用</a></li>
      <li nz-menu-item [nzSelected]="this.isCurrentRoute('/build-up/page')"><a routerLink="page">页面</a></li>
      <li nz-menu-item [nzSelected]="this.isCurrentRoute('/build-up/component')"><a routerLink="component">组件</a></li>
      <li nz-menu-item [nzSelected]="this.isCurrentRoute('/build-up/interface')"><a routerLink="interface">接口</a></li>
    </ul>
  </nz-header>
  <router-outlet></router-outlet>
</nz-layout>
