<div class="binary-section">
  <section class="setting">
    <div>
      <nz-select [(ngModel)]="selectedComponentPrototype" (ngModelChange)="onChangeSelect()">
        <nz-option *ngFor="let item of componentPrototypeList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
      </nz-select>
      <div class="form-item">
        <p class="title">样式设置</p>

      </div>
      <div class="form-item">
        <p class="title">交互设置</p>
      </div>
      <div class="form-item">
        <p class="title">数据设置</p>
      </div>
    </div>
  </section>
  <section class="">
    <div class="preview">
      <h3>{{selectedComponentPrototypeName}}</h3>
      <ng-template bypComponentPrototype></ng-template>
    </div>
  </section>
</div>
